<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>

	<h1>Table tennis test - Web Server</h1>

	<ul class="openlist">
		<li>Eureka Dashboard: <a
			href="http://localhost:1111">http://localhost:1111</a></li>
		<li>Check applications registered: <a
			href="http://localhost:1111/eureka/apps/">http://localhost:1111/eureka/apps/</a></li>

		<li>All players <a th:href="@{/players/all}">Players</a></li>

		<li>Player <a th:href="@{/players/search}">Search</a></li>

	</ul>

	<div th:replace="footer :: copy"></div>

</body>
</html>
