<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1><span th:text="${title}">text</span></h1>
	<div th:if="not ${leagues}" class="error">
		No leagues found containing '<span th:text="${search}">text</span>'.
		<div style="height: 2cm">&nbsp;</div>
	</div>

	<div th:if="${leagues}">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Season</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="league : ${leagues}">
					<td>
						<a href="league.html" th:href="@{|/leagues/${league.id}|}" th:text="|${league.id}|">1</a>
					</td>
					<td th:text="${league.id}">1</td>
					<td	th:text="${league.name}">2</td>
					<td th:text="${league.season}">3</td>
					<td th:text="${league.description}">4</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div style="text-align: right">
		Options: <a th:href="@{/}">Home</a> | <a
			th:href="@{/leagues/search}">League Search</a>
	</div>

	<div th:replace="footer :: copy"></div>
</body>
</html>
