<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: copy"></head>

<body>
	<h1><span th:text="${title}">text</span></h1>
	<div th:if="not ${players}" class="error">
		No players found containing.
		<div style="height: 2cm">&nbsp;</div>
	</div>

	<div th:if="${players}">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>First name</th>
					<th>Last name</th>
					<th>Points</th>
					<th>Active</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="player : ${players}">
					<td th:text="${player.id}">1</td>
					<td	th:text="${player.firstName}">2</td>
					<td th:text="${player.lastName}">3</td>
					<td th:text="${player.points}">4</td>
					<td th:text="${player.active}">5</td>
				</tr>
			</tbody>
		</table>
	</div>


	<div th:replace="footer :: copy"></div>
</body>
</html>
